<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

<header role="banner" class="navbar navbar-gbc">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}/" title="Go to the Guildford Borough Council on GitHub homepage" class="navbar-brand">
                Guildford Borough Council
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.guildford.gov.uk/">Council website</a></li>
            </ul>
        </div>
    </div>
</header>

    <div class="service-stage">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span class="label label-stage label-alpha">ALPHA</span> This is a prototype and is subject to change.
                </div>
            </div>
        </div>
    </div>
